* {
  margin: 0;
  padding: 0;
}

.profile {
  width: 80%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  background-color: #eee;
  row-gap: 60px;
}

#profile-img {
  width: 250px;
  height: 200px;
}

.info2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 550px;
  justify-content: center;
  row-gap: 60px;
}

.info2 p {
  font-size: 20px;
}

.left-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
  align-items: center;
}
